body {
	display: flex;
	flex-flow: column;
	margin: 0;
	background-color: #9F92B6;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: #020202
}
@media screen and (max-width: 1280px) {
	body {
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 860px) {
	body {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 640px) {
	body {
		font-size: 1.0rem;
	}
}



/* Header */
#shell-header {
	height: 64px;
	background-color: #D0C2E8;
	display: flex;
    padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: #222;
}

#shell-header a#logo {
	display: flex;
	align-self: center;
	width: 48px;
	height: 48px;
}

#shell-header a#logo img {
	margin: auto;
}

#shell-header span {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

/* Main */
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #EEE;
	padding-bottom: 48px;
}
/* Online indicator */
main #connexion_status {
    display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: 0.8em;
}

main #connexion_status i.material-icons {
	margin: 4px;
}
main #connexion_status .label {
}

/* FAB */
main button {
	width: 64px;
	height: 64px;
	border-radius: 48px;
	border: 0;
	background-color: #AABB96;
	color: inherit;
	font: unset;
	font-size: 0.8em;
	position: fixed;
	bottom: 16px;
	right: 16px;
	/* Content is centered vertically */
	display: flex;
	align-items: center;
}
button > i {
	margin: auto;
}

/* Footer */
footer {
	display: flex;
	font-size: 0.6em;
	background-color: #EEE;
	border-top: 2px solid #EEE;
}
footer > a {
	display: flex;
	text-decoration: none;
	color: inherit;
}
footer > * > i.material-icons {
	font-size: inherit;
	display: flex;
	align-items: center;
	margin: 0 4px;
}

/* Colors */
.color-green {
	color: #509556;
}
.color-red {
	color: #AF4448;
}
